/* ===== GLOBAL RESET ===== */
* {
  box-sizing: border-box;
}


html {
  overflow-y: scroll;        
  scrollbar-gutter: stable; 
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background: #e9e9e9;
}


body {
  padding-top: 80px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

/* ===== APP LAYOUT ===== */
.App {
  min-height: 100vh; /* full height */
  display: flex;
  flex-direction: column; 
}

.app-content {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}