node_modules/
**/node_modules/

.env
**/.env

build/
dist/
client/build/

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs/
*.log

server/uploads/

.DS_Store
Thumbs.db
.vscode/
.idea/

.tmp/
.cache/
